# RetailCRM
RETAIL_CRM_URL=https://kristiankaramanov.retailcrm.ru/
RETAIL_CRM_API_KEY= КЛЮЧ RETAILCRM

# Supabase
SUPABASE_URL=https://snqhldpskptpzboohsse.supabase.co
SUPABASE_ANON_KEY=sb_publishable_wc3GiuZNeZIu73TjZwQ2vA_Qxk2bx-l
SUPABASE_SERVICE_KEY= СЕКРЕТНЫЙ КЛЮЧ

# Telegram
TELEGRAM_BOT_TOKEN= ТОКЕН БОТА
TELEGRAM_CHAT_ID= ID ПРОВЕРЯЮЩЕГО В ТГ (ЦИФРЫ)
